@font-face {
  font-family: "Cheltenham";
  src: url("../fonts/cheltenham-normal-200.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Cheltenham";
  src: url("../fonts/cheltenham-normal-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cheltenham";
  src: url("../fonts/cheltenham-normal-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cheltenham";
  src: url("../fonts/cheltenham-normal-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cheltenham";
  src: url("../fonts/cheltenham-normal-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cheltenham";
  src: url("../fonts/cheltenham-normal-800.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Cheltenham";
  src: url("../fonts/cheltenham-italic-400.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
